# gitignore
#
# symbolic links to folders already replicated in iCloud folder structure
9-ai3
#
# software
#
# applications - Obsidian
.obsidian/
##
# Folders
# media-images/ already replicated in iCloud folder structure
# media-images/
#
# File types
#
# applications - Latex
# LaTeX intermediate and auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.fmt
*.fot
*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc*
*.nlo
*.nls
*.out
*.pdfsync
*.run.xml
*.synctex
*.synctex(busy)
*.synctex.gz
*.toc
*.vrb
# Beamer-specific
*.nav
*.snm
# BibTex / BibLatex-specific
*.bbl-SAVE-ERROR
# Minted/Pygments cache
_minted*
# TikZ externalization
tikztemp*
tikzexternal*/*
# Latex rendered folders and files
*.pdf
#
# Latex script output files
agenda_*.txt
agenda.txt
